header{
   background-color: papayawhip;
   color: blue;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   font-family: 'Helvetica';
}
#Home{
   padding-right: 40px;
}

#About{
   padding-right: 40px;
}

#Hobby{
   padding-right: 40px;
}

#Works{
   padding-right: 40px;
}

#Contact{
   padding-right: 20px;
}

main{
   background-color: rgb(197, 192, 192);
   width: 100%;
   height: 100%;
   text-align:left;
   font-family: 'Helvetica';
   padding-left: 30px;
}

#Section-Acha{
   padding-top: 200px;
   color:black;
   font-size: 70px;
}

#Section-Description{
   color:black;
}

.Facebook{
   color: black;
   padding-right: 20px;
   font-size: 30px;
   width: 80px;
}

.Instagram {
   color: black;
   padding-right: 20px;
   font-size: 30px;
   width: 80px;
}

.Linkedin {
   color: black;
   padding-right: 20px;
   font-size: 30px;
   width: 80px;
}

a:visited {
   color: black;
}
.card{
   padding-top: 5rem;
   padding-bottom: 5rem;
}
.card .container span{
   font-weight: 300;
   font-size: 14px;
   line-height: 20px;
   color: #000000;
}
.card .container p{
   font-weight: 300;
   font-size: 14px;
   line-height: 20px;
   color: #000000;
}
.card .card img{
   width: 20px; 
   height: 20px; 
   margin-top: 20px; 
   margin-left: 25px;
}
@media only screen and (min-width: 360px) and (max-width: 479px) {
	.card {
		padding: 70px 0 130px;
	}
    
}
@media only screen and (min-width: 320px) and (max-width: 359px) {
	.card {
		padding: 70px 0 130px;
	}
}